

.headshotImg{
  width: 100%;
	border-radius: 10% 30% 50% 70%;
}

.headshot{
  float: left;
  width: 40%;
  padding-left: 8%;
}

.headshot li{
  list-style-type: none;
}

.headshot a{
  text-decoration: underline;
  color:inherit;
}

.headshot a:hover{
  color: rgb(125, 125, 125);
}

.blurb{
  float: left;
	width: 60%;
	padding-left: 8%;
	padding-right: 12%;
}

@media only screen and (max-width: 768px) {
  .blurb{
    float: none;
  	width: 100%;
    padding: 0;
  }
  .headshot{
    float: none;
  	width: 100%;
  }
  .rowContainer{
    display: block;
  }
}

.link{
  text-decoration: underline;
  color: inherit;
}

.link:hover{
  text-decoration: underline;
  color: rgb(125, 125, 125);
}